.icon {
  text-align: center;
  margin-top: 2em;
  color: #c44569;
}

h1 {
  text-align: center;
  margin-top: 0.5em;
  font-family: 'Bangers', cursive;
  font-size: 58px;
  border: 3px solid #c44569;
  padding: 1em;
  color: #c44569;
  background-image: url('https://i.pinimg.com/564x/32/fd/b8/32fdb85bab70bf1ac9a38cc69621e292.jpg');
  background-size: cover;
  background-position: center;
}

.body {
  background: linear-gradient(to right, #f3a683 , #f8a5c2);
}

.paragraph {
  color: white;
  text-align: center;
  margin: 21% auto;
}

.backgroundColor {
  background: linear-gradient(to right, #786fa6 , #303952);
}

.whiteColor {
  border-color: white;
  color: white;
}
